<div data-game-id="<%= @game_id %>"></div>
<div class="frame">
  <div id="indicator-box-p1" class="indicator-box">
    castle
    <div id="castle-indicator-p1" class="castle-indicator p1-indicator indicator">
      <%= @player.castle %>
    </div>
    shield
    <div id="shield-indicator-p1" class="shield-indicator p1-indicator indicator">
      <%= @player.shield %>
    </div>
    mana
    <div id="mana-indicator-p1" class="mana-indicator p1-indicator indicator">
      <%= @player.mana %>
    </div>
    stamina
    <div id="stamina-indicator-p1" class="stamina-indicator p1-indicator indicator">
      <%= @player.stamina %>
    </div>
    gold
    <div id="gold-indicator-p1" class="gold-indicator p1-indicator indicator">
      <%= @player.gold %>
    </div>

  </div>

  <div id="indicator-box-p2" class="indicator-box">

    <div id="castle-indicator-p2" class="castle-indicator p2-indicator indicator">
      <%= @opponent.castle %>
    </div>
    <div id="shield-indicator-p2" class="shield-indicator p2-indicator indicator">
      <%= @opponent.shield %>
    </div>
    <div id="mana-indicator-p2" class="mana-indicator p2-indicator indicator">
      <%= @opponent.mana %>
    </div>
    <div id="stamina-indicator-p2" class="stamina-indicator p2-indicator indicator">
      <%= @opponent.stamina %>
    </div>
    <div id="gold-indicator-p2" class="gold-indicator p2-indicator indicator">
      <%= @opponent.gold %>
    </div>

  </div>

  <div id="deck" class="card">DECK
  </div>
  <div id="player-card-container">
    <div id="played-card" class="card">PLAYED
    </div>
  </div>
  <div id="bottom-frame">
    <div id="hand">
      <div id="hand-card-1" class="card basic-card-div subtle-shadow" value="1">
        <div class="card-title basic-card-div"><%= @cards[0][:name] %>
        </div>
        <div class="card-image basic-card-div">
          <img class="card-image-image" src="/images/black_mage.jpg"/>
        </div>
        <div class="card-cost-band basic-card-div">
          <p class="card-description-text"><%= @cards[0][:card_type] %></p>
        </div>
        <div class="card-description basic-card-div">
          <p class="card-description-text"><%= @cards[0][:description] %>
          </p>
        </div>
        <div class="card-bottom-band basic-card-div">

        </div>
      </div>

      <div id="hand-card-2" class="card basic-card-div subtle-shadow" value="2">
        <div class="card-title basic-card-div"><%= @cards[1][:name] %>
        </div>
        <div class="card-image basic-card-div">
          <img class="card-image-image" src="/images/black_mage.jpg"/>
        </div>
        <div class="card-cost-band basic-card-div">
          <p class="card-description-text"><%= @cards[1][:card_type] %></p>
        </div>
        <div class="card-description basic-card-div">
          <p class="card-description-text"><%= @cards[1][:description] %>
          </p>
        </div>
        <div class="card-bottom-band basic-card-div">

        </div>
      </div>

      <div id="hand-card-3" class="card basic-card-div subtle-shadow" value="3">
        <div class="card-title basic-card-div"><%= @cards[2][:name] %>
        </div>
        <div class="card-image basic-card-div">
          <img class="card-image-image" src="/images/black_mage.jpg"/>
        </div>
        <div class="card-cost-band basic-card-div">
          <p class="card-description-text"><%= @cards[2][:card_type] %></p>
        </div>
        <div class="card-description basic-card-div">
          <p class="card-description-text"><%= @cards[2][:description] %>
          </p>
        </div>
        <div class="card-bottom-band basic-card-div">

        </div>
      </div>

      <div id="hand-card-4" class="card basic-card-div subtle-shadow" value="4">
        <div class="card-title basic-card-div"><%= @cards[3][:name] %>
        </div>
        <div class="card-image basic-card-div">
          <img class="card-image-image" src="/images/black_mage.jpg"/>
        </div>
        <div class="card-cost-band basic-card-div">
          <p class="card-description-text"><%= @cards[3][:card_type] %></p>
        </div>
        <div class="card-description basic-card-div">
          <p class="card-description-text"><%= @cards[3][:description] %>
          </p>
        </div>
        <div class="card-bottom-band basic-card-div">

        </div>
      </div>

      <div id="hand-card-5" class="card basic-card-div subtle-shadow" value="5">
        <div class="card-title basic-card-div"><%= @cards[4][:name] %>
        </div>
        <div class="card-image basic-card-div">
          <img class="card-image-image" src="/images/black_mage.jpg"/>
        </div>
        <div class="card-cost-band basic-card-div">
          <p class="card-description-text"><%= @cards[4][:card_type] %></p>
        </div>
        <div class="card-description basic-card-div">
          <p class="card-description-text"><%= @cards[4][:description] %>
          </p>
        </div>
        <div class="card-bottom-band basic-card-div">

        </div>
      </div>

    </div>
  </div>
</div>
